@import "mixin";
/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    outline: none;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-dots {
    position: absolute;
    bottom: 16px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    right: auto;
    left: auto;
    width: auto;


    li {
        position: relative;
        display: inline-block;
        height: 10px;
        width: 10px;
        margin: 0 6px 0px 0px;
        padding: 0;
        cursor: pointer;
        &:before {
            display: none;
        }
        button {
            border: #859099 solid 1px;
            background: #859099;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            display: block;
            height: 9px;
            width: 9px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 0;
            cursor: pointer;
            &:hover, &:focus {
                background-color: #859099;
                border-color: #859099;
                outline: none;
            }
        }
        &.slick-active button {
            background:$white;
            border-color:$white;
            outline: none;
            width: 10px;
            height: 10px;
        }
    }

}
.slick-arrow {
    display: none !important;
}

.banner{
    .slick-dots{
        right: 0;

                    @include viewport(mob) {
      display: none !important;
        }

       li 
       {

        margin: 0 8px 0px 8px;

        button        {
        width: 12px;
        height: 12px;
        background: $white;
        border:1px solid $white;

       }
   }
       li.slick-active button{
         width: 16px;
        height: 16px;
        margin-top: -2px;
        margin-right:10px;
       }
    }
}